mixin modal()
	//  start modals
	+b.modal-trade.modal-win.modal-win--lg(id="modal-trade" style="display: none" )
		.section-title.text-center
			h2 Торговля
		+e.sliders
			+e.slider-wrap
				.swiper-container.modal-trade-slider-js
					.swiper-wrapper
						-for(var i = 1; i < 9; i++)
							+tradeSlide()
				.d-none.d-md-block
					+arrow()
			+e.thumb
				.swiper-container.modal-trade-thumb-js
					.swiper-wrapper
						-for(var i = 1; i < 9; i++)
							+tradeThumbSlide()
		+e.descr
			p Используйте программу, как бэк-офис для ваших интернет-магазинов. Это отличный помощник для автоматизации операций по оптовым закупкам и продажам товаров и услуг.
			p Если вы владелец магазина продуктов, одежды, спорт товаров, бытовой техники, бутика и прочих розничных точек, 1С:УНФ автоматизирует все хозяйственные операции, включая приемку и передачу товаров на комиссию, планирование продаж по предприятию, по подразделениям, по менеджерам и по категориям номенклатуры, анализируя каждый процесс в колличестве и в денежном выражении.
		.text-center
			button.mod-close-btn.modal-close-js(type="button") Закрыть
	// #modal-trade
	+b.modal-compare.modal-win.modal-win--lg(id="modal-compare" style="display: none" )
		.section-title.text-center
			h2 Сравнение версий
		+e.tr.row
			+e.name-col.col-auto
			+e.title-col.col
				+e.title
					| Версия на 5
					br
					| пользователей
			+e.title-col.col
				+e.title Профессиональная
			+e.title-col.col
				+e.title Пакетная
		+e.table
			+tableRow()
				| Основная функциональность
			+tableRow(false)
				| Многопользовательский режим работы, в том числе поддержка клиент-серверного варианта работы
			+tableRow(false)
				| Работа территориально распределенных информационных баз
			+tableRow(false)
				| Поддержка COM-соединения и Automation-сервера
			+tableRow(false)
				| Возможность изменения (конфигурирования) прикладного решения
			+tableRow(false)
				| Учет деятельности нескольких учреждений в единой информационной базе (многофирменный учет)
			+tableRow(false)
				| Интеграция с Битрикс
			+tableRow(false, false)
				| В составе имеется дополнительная лицензия на 5 пользователей
		.text-center
			button.mod-close-btn.modal-close-js(type="button") Закрыть
	+b.modal-call.modal-win.modal-win--sm(id="modal-call" style="display: none" )
		.section-title.text-center
			h4 Заказать звонок
		+e.descr.text-center Заполните форму и мы свяжемся с Вами в ближайшее время для уточнения деталей
		+form-wrap()
			+input('Ваше имя', 'text')
			+input('Ваш телефон', 'tel')
			+e.polite
				+e.polite-row.row
					.col-auto
						+in-c('checkbox')
					.col
						+e.polite-txt
							span
								| Я согласен на обработку и хранение моих персональных данных в соответствии с
								|
							a(href='#') Условиями.
			+e.btn-cont.text-center
				+e.btn(type="submit") Отправить
	+b.modal-call.modal-win.modal-win--sm(id="modal-thanks" style="display: none" )
		.section-title.text-center
			h4
				| Спасибо
				br
				| за обращение!
		+e.descr.text-center Мы свяжемся с Вами в ближайшее время для уточнения деталей
		+e.close-btn-cont.text-center
			button.mod-close-btn.modal-close-js(type="button") Закрыть
	// end modals

mixin tableRow(checked1=true,checked2=true,checked3=true)
	+e.tr.row
		+e.name-col.col-auto
			block
		+tableRowBall(checked1)
		+tableRowBall(checked2)
		+tableRowBall(checked3)

mixin tableRowBall(checked)
	.col
		+e.ball
			if checked
				img(loading="lazy" src="img/svg/checkmark.svg" alt="")
			else
				img(loading="lazy" src="img/svg/crossmark.svg" alt="")

mixin tradeSlide()
	.swiper-slide
		+e.link(href="img/@2x/modal-trade.png" data-fancybox='modalTrade')
			+pic(`modal-trade.png`).modal-trade__img

mixin tradeThumbSlide()
	.swiper-slide
		+pic(`modal-trade.png`).modal-trade__thumb-img