.pixel-perfect {
	top: 0;
	//sApp lg
	//top: rem(63);

	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	//opacity: 0.7;
} 

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		//margin-right: var(--spacing-end);
		max-width: calc(100vw - var(--spacing-end));
	}
	&.fancybox-active{
		.top-nav{
			width: calc(100% - var(--spacing-end));
		}
	}

	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.4;
		}
	}
}

//.main-wrapper {
//	overflow-x: hidden;
//	display: flex;
//	flex-direction: column;
//	min-width: 0;
//	min-height: calc(var(--vh, 1vh) * 100);
//}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);

	h2, h1, h4{
		position: relative;
		&::after{
			content: '';
			display: block;
			width: rem(80);
			height: 4px;
			background: linear-gradient(90deg, $yellow 0%, $red 100%);

			margin-top: rem(32);
			@include media-breakpoint-up(md){
				margin-top: rem(40);
			}
			@include media-breakpoint-up(lg){
				margin-top: rem(45);
			}
			@include media-breakpoint-up(xxl){
				margin-top: rem(36);
			}
		}
	}

	&.text-center{
		h2, h1, h4{
			&:after{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	& > *:last-child{
		margin-bottom: 0;
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	cursor: pointer;
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: transparent!important;
	border: none!important;
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: none;
	@include mt;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
		transform: scale(1.1);
	}

	.icon {
		font-size: rem(30);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary) ;
	/* Цвет фона */
}



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}

//
a{
	text-decoration: none;
}

h1{
	font-size: rem(52) !important;
	@include media-breakpoint-up(md){
		font-size: rem(62) !important;
	}
	@include media-breakpoint-up(xxl){
		font-size: rem(70) !important;
	}
}
h2{
	font-size: rem(52);
	@include media-breakpoint-up(sm){
		font-size: rem(60);
	}
}

//
.btn{
	box-shadow: none!important;
}
.btn-warning{
	font-weight: 400;

	&:hover{
		background-color: $yellow2!important;
		border-color: $yellow2!important;
	}
}
.btn-danger, .btn-primary{
	font-weight: 400;

	&:hover{
		background-color: $red2!important;
		border-color: $red2!important;
	}
}

//
.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//
.dot-list{
	list-style: none;
	li{
		position: relative;
		padding-left: rem(16);
		&:before{
			content: '';
			position: absolute;
			top: rem(11);
			left: 0;
			width: rem(6);
			height: rem(6);
			border-radius: 50%;
			background: linear-gradient(90deg, #F5CB35 0%, #DB1E32 100%);
		}
	}
}

.balls-li{
	position: relative;
	line-height: 1.75;
	padding-left: rem(40);
	min-height: rem(30);

	margin-bottom: rem(15);
	&:last-child{
		margin-bottom: 0;
	}

	&:before{
		position: absolute;
		top: -2px;
		left: 0;

		content: '';
		width: rem(30);
		height: rem(30);
		border-radius: 50%;

		background-image: url(../img/svg/checkmark.svg);
		//crossmark
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
//tracker css(red ball)
.ball-item-js{
	overflow: hidden;
	position: relative;
	z-index: 1;
	--ball-opacity: 0;
	&:hover{
		--ball-opacity: 0.2;
	}

	&.disabled{
		--ball-opacity: 0!important;
	}
}

.sidebar-ball-js{
	transition: opacity .2s ease-in-out;
	position: absolute;
	z-index: -1;
	opacity: var(--ball-opacity, 0);
	width: rem(344);
	height: rem(344);

	background: radial-gradient(50% 50% at 50% 50%, #DB1E32 0%, rgba(245, 203, 53, 0) 100%);
	//opacity: 0.2;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.avoid-track-js{
	position: relative;
	z-index: 5;
}
.ball-tracker-js{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


//
.blesk {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		left: -8.75em;
		border-left: 2.5em solid #fff;
		animation: btnAnimLight 2.5s linear infinite;
		transition: opacity 3s linear;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.2;
		width: 0.0625em;
		height: 0.0625em;
		box-shadow: 0 0 1.875em 4.375em #fff;
	}
}

@keyframes btnAnimLight {
	0% {
		left: -8.75em;
	}
	30% {
		left: 110%;
	}
	40% {
		left: 100%;
		opacity: 0;
	}
	41% {
		left: -8.75em;
	}
	to {
		left: -8.75em;
	}
}

//
.custom-input__input.form-check-input{
	background-size: rem(12);

}
//
body:not(.loaded_hiding):after {
	--s: 1s;
	-webkit-transition: all var(--s) ease-in-out;
	transition: all var(--s) ease-in-out;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}