:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};

	--sTPB: #{rem(60)};

	--sPT: #{rem(80)};
	--sPB: #{rem(80)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(100)};
		--sPB: #{rem(90)};
	}


	--swiperArrowSize: #{rem(68)};
	//--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperArrowPosition: 0;
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: #{$white};
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: rgba(#{$white}, .9);
	--swiperBgDefHover: #ffffff;
}