mixin sDemonstration(imgName='sDemo-bg', bgId)
	// start sDemonstration
	+b.SECTION.sDemonstration.section&attributes(attributes)
		//+e.canvas#canvas
		//+e.plane.plane#my-plane
		//	img(loading='lazy' src=`img/@2x/${imgName}.jpg` alt="")
		+pic(imgName).sDemonstration__bg(id=bgId)
		.container
			+b.section-title.text-center
				if block
					block
				else
					h2
						| Бесплатная
						br
						| демонстрация
					p Наши специалисты проведут для вас бесплатную демонстрацию любой версии в онлайн режиме или приедут к вам в офис в удобное для вас время.
					+e.btn(href="#") Заявка на демонстрацию
	// end sDemonstration