mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBl-bg-1.png')(class="headerBlock__bg headerBlock__bg--1 d-none d-base-block wow animate__fadeIn" data-wow-delay=".2s")
		+pic('headerBl-bg-2.png')(class="headerBlock__bg headerBlock__bg--2 d-none d-base-block wow animate__fadeIn" data-wow-delay=".2s")
		+e.container.container(data-wow-delay="2s")
			+e.row.row(class="wow animate__fadeIn")
				.col-lg-7.col-xl-6
					+b.section-title.text-center.text-lg-start
						+e.red.typeit-red-js(data-type-txt='Бесплатная доставка, установка, гарантия и бонусы') Бесплатная доставка, установка, гарантия и бонусы
						h1 1С: Управление нашей фирмой 8 В Самаре
						p Поработайте в программе 1C:УНФ 8 целый месяц бесплатно, получив полный доступ к программе
					+e.btns-row.row.justify-content-center.justify-content-lg-start
						.col-6.col-md-auto
							+e.btn--buy(href='#') Купить
						.col-6.col-md-auto
							+e.btn--trail(href='#') 30 дней бесплатно
			+e.pills-wrap(class="wow animate__fadeIn" data-wow-delay=".4s")
				+pic('headerBl-woman.png', undefined, 0)(class="headerBlock__woman")
				+e.pills-row.row
					+headerBlockPill(1, 'Производственные компании')
					+headerBlockPill(2, 'Интернет-торговля')
					+headerBlockPill(3, 'Розничные и оптовые продажи')
					+headerBlockPill(4, 'Сфера услуг')
	// end headerBlock

mixin headerBlockPill(imgNum, name)
	.col-6.col-lg-3
		+e.pill.ball-item-js
			+e.content
				+e.ball.sidebar-ball-js
				+e.img
					img(loading="lazy" src=`img/svg/headerbl-${imgNum}.svg` alt="")
				+e.name=name
			.ball-tracker-js