mixin cModal(data)
	// start cModal
	+b.SECTION.cModal--js.section(id=data.modalId class=data.addClasses)&attributes(attributes)
		if data.pbWidth
			+e.proggress-bar(style=`width: calc(100% * ${data.pbWidth})`)
		block

	// end cModal