extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOpportunities/_sOpportunities.pug
include ../blocks/sVersions/_sVersions.pug
include ../blocks/sApp/_sApp.pug
include ../blocks/sAdvantage/_sAdvantage.pug
include ../blocks/sDemonstration/_sDemonstration.pug
include ../blocks/sClients/_sClients.pug
include ../blocks/sQuestions/_sQuestions.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+header()
		+mobMenu()
	+top-nav()
	+headerBlock()
	+sOpportunities()
	+sVersions()
	+sApp()
	+sAdvantage()
	+sDemonstration('sDemo-bg', 'curtainBg-1')(id="sDemonstration")
	+sClients()
	+sQuestions()
	+sDemonstration('sGift-bg', 'curtainBg-2')
		h2
			| Дарим бесплатные 3 часа
			|
			br.d-none.d-md-block
			| работы специалиста
		p Вы можете потратить их на обучение сотрудников программе 1С Управление нашей фирмой или выбрать любую услугу DATEX в рамках бесплатных часов
		+e.btn(href="#") Узнать подробнее
	+footer()