extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sOpportunities/_sOpportunities.pug
include ../blocks/sVersions/_sVersions.pug
include ../blocks/sApp/_sApp.pug
include ../blocks/sAdvantage/_sAdvantage.pug
include ../blocks/sDemonstration/_sDemonstration.pug
include ../blocks/sClients/_sClients.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sHeaderAlt/_sHeaderAlt.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/cModal/_cModal.pug
include ../blocks/sNeedCard/_sNeedCard.pug
include ../blocks/sAddService/_sAddService.pug
include ../blocks/sPresent/_sPresent.pug
include ../blocks/sResult/_sResult.pug
include ../blocks/sConnects/_sConnects.pug

block variables
	- let  mainPage='new-page'
	- let  bg= '08-576.png'

block title
	- let  title= 'modal-menu'
	title= title
block pagecontent
	+sHeaderAlt()
	.section
		.container
			.row.gy-3.gx-3
				-for(var i=1; i <=9; i++)
					+demoBtn(i)
	+cModal1('')
	+cModal2('')
	+cModal3('')
	+cModal4('')
	+cModal5('')
	+cModal6('')
	+cModal7('')
	+cModal8('')
	+cModal9('')

mixin demoBtn(id)
	.col-auto
		.btn.btn-primary.open-cModal-js(data-modal-id=`cModalstep${id}`)=`модальное окно ${id}`