mixin sResult(data)
	// start sResult
	+b.SECTION.sResult.section#sResult&attributes(attributes)
		div
			//| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae cumque iste perspiciatis. Dicta facere impedit maiores natus, omnis porro quo. Ab adipisci aliquid culpa deserunt doloribus ducimus eveniet explicabo facere fugiat in ipsam mollitia nemo neque nihil perspiciatis quia quibusdam quo rem repellat repudiandae, sed soluta sunt temporibus tenetur veniam voluptatem voluptatibus. Alias aliquid amet assumenda, beatae culpa dignissimos doloribus ea est ex explicabo maxime minima molestiae, officia officiis quasi quia quibusdam, quod repellat sapiente sunt suscipit temporibus voluptatum. Accusamus atque autem commodi consequatur deleniti eaque fuga fugiat itaque iure, minus, nesciunt nostrum quo vitae? Aliquam architecto eaque facere harum impedit, iure necessitatibus quis repellendus sed. Adipisci aut ipsa odit officia quis? Atque itaque maiores nemo, pariatur possimus quae recusandae sequi suscipit! Alias assumenda corporis, cum delectus dignissimos eligendi in ipsam iure, laudantium maxime nemo nesciunt nostrum quibusdam quis quod soluta suscipit velit veritatis vero voluptatem? Animi assumenda nostrum obcaecati odit porro quaerat recusandae! Accusantium doloremque incidunt praesentium repellat suscipit! Adipisci ipsa maxime nisi, perspiciatis quae quisquam quod repellendus. Alias aspernatur fuga maiores maxime nemo nostrum obcaecati officiis saepe tempore voluptate! Ab eligendi natus porro quasi recusandae sunt unde? Magnam, nam, sequi. A aperiam architecto assumenda, consequuntur cum cupiditate debitis, distinctio dolore dolores enim et eum eveniet ipsum iure molestiae mollitia officiis quas qui quibusdam sunt suscipit tempore veritatis, voluptate voluptatibus voluptatum! Consequatur dolorem doloremque eligendi excepturi facilis id repellendus repudiandae sed soluta tempora. Accusamus ad adipisci dolorem doloremque impedit ipsam magni maxime perspiciatis quisquam, repellendus repudiandae ullam voluptates. Atque beatae doloremque dolores doloribus est eum exercitationem facere hic iusto labore magni molestiae, nihil non nostrum pariatur porro quae quidem quos reiciendis, repellat sit ut vel veritatis vero voluptates. Aperiam at blanditiis corporis delectus doloribus eos est expedita, in itaque labore, molestiae nam quaerat quasi quod repellendus. A ab accusamus aliquid aperiam architecto assumenda blanditiis commodi cupiditate dignissimos dolor eius error est excepturi fuga id illum iusto labore minima minus, modi molestias officia praesentium quasi qui, quod recusandae rerum saepe temporibus totam vel. Culpa iste nobis odit, omnis quaerat repellat veritatis? Aliquam aliquid cum deserunt dolorem dolorum ducimus enim eos esse expedita facilis id illo illum ipsa itaque, laudantium maxime, minima neque nostrum odit officia officiis omnis pariatur quaerat quam quasi quibusdam ratione saepe sapiente sunt voluptas? Beatae consequatur excepturi exercitationem hic soluta? Cumque excepturi ipsam sint. Alias cumque molestias nam natus neque quisquam sunt tempora unde veniam. Adipisci aliquid at consequatur dignissimos distinctio ea ipsam, iure laudantium magnam natus officia omnis provident, quam soluta suscipit tempore temporibus voluptatem! Error eveniet laborum quasi ratione sapiente? A adipisci aperiam aut autem consectetur consequatur consequuntur corporis culpa cum deserunt dignissimos distinctio dolore dolores dolorum eius ex harum hic in iste necessitatibus nemo neque numquam officiis omnis, quia sunt tempore unde vel voluptatem voluptatibus! Assumenda consectetur consequuntur dolorum ea eveniet, inventore laboriosam magni minus modi neque nesciunt officia quasi similique, tenetur vel, vitae voluptas. Amet cum eveniet magni perferendis placeat reprehenderit sunt. Labore minus, quidem. Eaque facere praesentium recusandae. Aperiam architecto aspernatur assumenda, blanditiis cumque deleniti distinctio dolorem eos ex illum iure maiores minus nam natus nihil odio officia officiis omnis optio, pariatur perferendis provident quasi quos rerum temporibus veritatis vero voluptates! Aliquam blanditiis cumque error et officiis porro quibusdam reiciendis voluptas. Consequatur cum cupiditate debitis dicta dignissimos eos ex impedit inventore laboriosam laborum nihil, officia pariatur quasi ratione soluta. A animi architecto culpa cum doloribus, explicabo facere id incidunt ipsam ipsum iste itaque labore libero maiores maxime nam nesciunt nihil nobis omnis perferendis perspiciatis porro possimus reiciendis sint veniam vero voluptatem voluptatum! Amet consequatur debitis eligendi hic odit perferendis, quos vel? Ab ad aliquid aspernatur at autem corporis debitis distinctio dolores dolorum earum eos eveniet ex fugiat id laborum, laudantium nihil non officia pariatur praesentium quam quia quod recusandae rerum sint vero voluptatem voluptatum. Asperiores culpa deserunt dolores molestias nam, nihil omnis voluptas! Adipisci aliquam architecto assumenda atque aut autem culpa deleniti dicta eius error est et excepturi expedita facilis harum hic iste iure labore maiores minus molestiae nisi nobis non nostrum officia officiis omnis pariatur quas quis, repellat saepe sequi sint vel voluptate voluptatem voluptates voluptatum! Asperiores ducimus ea, enim, et excepturi labore laboriosam maiores modi nam nemo neque quia recusandae, reiciendis repellendus similique suscipit voluptates? Delectus doloremque ducimus eos ex modi non quas quis. A assumenda aut culpa dignissimos dolore ducimus eaque earum error, excepturi exercitationem facere fuga id ipsa iusto laudantium maiores modi nobis placeat quae quibusdam quis quod reiciendis repellendus sapiente sed temporibus veniam voluptatem? Dolorum eos facilis iusto obcaecati quibusdam rerum tenetur ullam? Alias architecto aspernatur aut delectus, distinctio dolorum esse ex facere facilis iure minus neque optio quas rerum, saepe tempora totam veritatis vitae, voluptate voluptatum! Delectus, esse laboriosam quas sint totam ullam velit! A accusamus deleniti distinctio dolores ea earum ipsam laudantium obcaecati, repellendus reprehenderit rerum sed temporibus velit. Ad adipisci at atque dicta ducimus eveniet facilis illum, inventore ipsum, laboriosam laborum laudantium magnam molestiae neque nihil nisi numquam porro praesentium quis quisquam sequi similique tenetur totam, ullam ut vel vero. Ad animi architecto aspernatur commodi cum cupiditate delectus dicta distinctio dolore dolorem doloribus ea, exercitationem explicabo illum in ipsum laudantium magni mollitia nam nemo nihil non nostrum nulla numquam obcaecati odio officiis optio qui quo ratione recusandae rem repellendus similique sit suscipit ullam, vel. Corporis esse, inventore laboriosam, laborum laudantium minus natus numquam officia officiis placeat praesentium ratione sapiente suscipit. Consectetur inventore molestiae sit. Accusantium adipisci beatae distinctio, dolores ducimus enim explicabo facere fugit illum laborum natus possimus praesentium quisquam quos, reprehenderit rerum, sint soluta velit voluptas voluptatem? Accusamus alias aliquam aliquid, amet assumenda aut consectetur distinctio ea est ex explicabo impedit ipsam labore laudantium magnam necessitatibus nesciunt nobis odio officiis pariatur perferendis quod quos recusandae rem sapiente, sed soluta tempora temporibus tenetur ut velit, vero vitae voluptates. A asperiores blanditiis dolorem fuga maiores quod repellat repudiandae. Ab aliquam architecto dicta, dolor expedita ratione sed tempore temporibus vitae voluptates! Asperiores ducimus exercitationem ipsa maxime, non nostrum, omnis praesentium quia quos, sint soluta temporibus!
		+e.row.row
			+e.col.col-lg-6
				+e.box--tarif
					+e.title--tariff Тариф (2)
					+e.t-items
						+sResultTariff('ИТС ПРОФ на 12 месяцев', '33 818 ₽', true)
						+sResultTariff('1С:ИТС Отраслевой 4-й категории на 12 месяцев', '82 200 ₽')
				+sResultPresent('d-none d-lg-block')
			+e.col.col-lg-6
				+e.box--grow.--service
					+e.services-wrap
						+e.title--service Сервисы (12)
						+e.services
							-for(var i = 0; i < 3; i++)
								+sAddServiceItem(2, '1С:Подпись', '600 ₽')(checked)
								+sAddServiceItem(4, '1С-ОФД', '298 ₽', 'bordered')(checked)
								+sAddServiceItem(6, '1С-Коннект', '4 900 ₽')(checked)
								+sAddServiceItem(8, '1С:Номенклатура', '10 000 ₽')(checked)
			.col-12.d-lg-none
				+sResultPresent()
		+e.result-row.row.align-items-center.justify-content-center
			+e.res-txt-col.col-auto
				span
					| Итого:
					|
				span.text-primary 129 484 ₽
			.col-auto
				+e.r-img
					img(loading="lazy" src='img/svg/pdf.svg' alt="")
			+e.res-descr.col-12.text-center Свяжитесь с нами для покупки ИТС и мы подарим вам подарок, который вы выбрали:
		.text-center
			+e.connect-wrap
				+e.c-row.row
					+sResultConnectItem(1, 'По телефону')
					+sResultConnectItem(2, 'По почте')
					+sResultConnectItem(3, 'Whatsapp')
					+sResultConnectItem(4, 'Telegram')
					+sResultConnectItem(5, 'Viber')
	// end sResult

mixin sResultConnectItem(imgNum, txt)
	.col-md-auto
		+e.c-item(href="#")
			+e.c-icon
				img(loading="lazy" src=`img/svg/sResultConnectItem-${imgNum}.svg` alt="")
			+e.c-txt=txt

mixin sResultPresent(addClasses)
	+e.box--grow(class=addClasses)
		+e.title--present Выбранный подарок
		+e.p-row.row.align-items-center.flex-nowrap
			.col-auto
				+e.p-img
					img(loading="lazy" src='img/svg/sPresent-1.svg' alt="")
			+e.txt-col.col-auto.pe-0
				+e.p-name Подарочный сертификат на сумму 2 000 ₽
				+e.p-descr Ситилинк, Золотое Яблоко или Kitchenland

mixin sResultTariff(name, price, present)
	+e.t-item
		+e.ti-row.row
			if present
				+e.t-name--present.col=name
			else
				+e.t-name.col=name
			+e.t-price.col-auto=price
