mixin top-nav()
	// start top-nav
	+b.top-nav--js.block-with-lazy
		+e.container.container-fluid
			+e.row.row.align-items-center
				.col
					+e.sub-row.row.align-items-center
						.col-auto
							+e.logo(href='#')
								img(loading="lazy" src="img/svg/logo.svg" alt="")
						.col-xl.d-none.d-lg-block
							+e.descr Официальный партнер 1С в Самаре
				.col-auto
					+e.soc-row.row
						+socItem('vb')
						+socItem('wa')
						+socItem('tg')
				.col-auto.d-md-none
					+e.mob-call(href='tel:+78463004840')
						+icon('tell')
				.col-auto.d-none.d-md-block
					+e.tel(href='tel:+78463004840') +7 (846) 300 48 40
					+e.shedule Пн-Пт 9:00 - 18:00
				.col-auto.d-none.d-lg-block
					+e.btn.link-modal-js(href='#modal-call')
						span Перезвоните мне
				.col-auto
					.menu-burger.burger-js
						span
	// end top-nav

mixin socItem(iconName)
	.col-auto
		+e.soc-item(href="#")
			img(loading="lazy" src=`img/svg/${iconName}.svg` alt="")

mixin mobMenu()
	+b.mob-menu--js
		.menu-burger.burger-js
			span
		+e.menu
			+mnu()