mixin mnu()
	-
		var nav= {
			"В начало":"#headerBlock",
			"Возможности":"#sOpportunities",
			"Версии":"#sVersions",
			"Мобильное приложение":"#sApp",
			"Преимущества":"#sAdvantage",
			"Демонстрация":"#sDemonstration",
			"Клиенты":"#sClients",
			"Ответы на вопросы":"#sQuestions",
			"Контакты":"#footer",
		}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item: +e.A.link--js(href=linkPatch)= linkName
//- /menu