mixin mnu()
	-
		var nav= {
			"В начало":"#",
			"Возможности":"#",
			"Версии":"#",
			"Мобильное приложение":"#",
			"Преимущества":"#",
			"Демонстрация":"#",
			"Клиенты":"#",
			"Ответы на вопросы":"#",
			"Контакты":"#",
		}
	+b.UL.navMenu
		each linkPatch, linkName in nav
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="#" itemprop="url")= linkName
//- /menu